
my-theme/lms/static/images/azure_logo.png
my-theme/lms/static/images/edx.png
my-theme/lms/static/images/logo.png
my-theme/lms/static/images/ms-logo-grey.png
my-theme/lms/static/images/ms-logo-white.png
my-theme/lms/templates/course.html
my-theme/lms/templates/courseware/courseware.html
my-theme/lms/templates/emails/account_creation_and_enroll_emailMessage.txt
my-theme/lms/templates/emails/add_beta_tester_email_message.txt
my-theme/lms/templates/emails/business_order_confirmation_email.txt
my-theme/lms/templates/emails/confirm_email_change.txt
my-theme/lms/templates/emails/email_change.txt
my-theme/lms/templates/emails/enroll_email_allowedmessage.txt
my-theme/lms/templates/emails/enroll_email_enrolledmessage.txt
my-theme/lms/templates/emails/order_confirmation_email.txt
my-theme/lms/templates/emails/photo_submission_confirmation.txt
my-theme/lms/templates/emails/registration_codes_sale_email.txt
my-theme/lms/templates/emails/registration_codes_sale_invoice_attachment.txt
my-theme/lms/templates/emails/reject_name_change.txt
my-theme/lms/templates/emails/remove_beta_tester_email_message.txt
my-theme/lms/templates/emails/reverification_processed.txt
my-theme/lms/templates/emails/unenroll_email_allowedmessage.txt
my-theme/lms/templates/emails/unenroll_email_enrolledmessage.txt
my-theme/lms/templates/footer.html
my-theme/lms/templates/forgot_password_modal.html
my-theme/lms/templates/index.html
my-theme/lms/templates/login.html
my-theme/lms/templates/main.html
my-theme/lms/templates/navigation.html
my-theme/lms/templates/register-form.html
my-theme/lms/templates/register-sidebar.html
my-theme/lms/templates/register.html
my-theme/lms/templates/registration/password_reset_confirm.html
my-theme/lms/templates/registration/password_reset_email.html
my-theme/lms/templates/rex_email_footer.html
my-theme/lms/templates/static_templates/404.html
my-theme/lms/templates/static_templates/about.html
my-theme/lms/templates/static_templates/dn.html
my-theme/lms/templates/static_templates/faq.html
my-theme/lms/templates/static_templates/server-down.html
my-theme/lms/templates/static_templates/server-error.html
my-theme/lms/templates/static_templates/server-overloaded.html
my-theme/lms/templates/static_templates/tos.html
my-theme/lms/templates/user_dropdown.html
my-theme/lms/templates/video.html
