
<!doctype html>
<html>
<meta charset="utf-8">

<title> Koenig Solutions.com </title>


<link href="../static/css/lms-main-v1.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="main">

<div class="main-center">

<div class="footer-koenig">

  <div class="right">
  <span>Follow Us</span>
  <div class="fb"> <a href="https://www.facebook.com/KoenigSolutions" target="_blank">  <img src="https://koenig-solutions.com/images/fb.jpg"> </a> </div>
  <div class="fb"> <a href="https://www.linkedin.com/company/koenig-solutions-pvt--ltd-?trk=pro_other_cmpy" target="_blank">  <img src="https://koenig-solutions.com/images/linkdin.jpg"> </a> </div>
  <div class="fb"> <a href="https://plus.google.com/+Koenigsolutionsindia/posts" target="_blank">   <img src="https://koenig-solutions.com/images/gpluis.jpg"> </a></div>
  <div class="fb"> <a href="https://twitter.com/Koenigsolutions">     <img src="https://koenig-solutions.com/images/twt.jpg"> </a>     </div>
  <div class="fb"> <a href="www.youtube.com/user/KoenigSol" target="_blank">  <img src="https://koenig-solutions.com/images/you-tube.jpg">  </a>  </div>
  <div class="fb"> <a href="https://www.instagram.com/koenigsolutions/" target="_blank">    <img src="https://koenig-solutions.com/images/inst.jpg">  </a>  </div>
  <div class="fb"> <a href="https://www.slideshare.net/KoenigSolutionsLtd" target="_blank"> <img src="https://koenig-solutions.com/images/blog.jpg">  </a></div>
</div>
</div>

</div>
</div>
</body>